@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0c0d0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
    place-items: center;
    margin: 0;
    padding: 0;
}

main {
    margin: 20px;
    display: flex;
    flex-direction: column;
    place-items: start;
    max-width: 1000px;
    overflow: hidden;
    gap: 20px;
}

h1 {
    font-size: 74px;
    margin: 0;
}

p {
    margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #0c0d0f;
    }
}

.text-flex {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.tenki-list-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    margin-top: 14px;
    padding: 12px 16px;
    background-color: none;
    border-radius: 20px;
}

.embla {
    width: 100%;
    overflow: hidden;
}

.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}
