@import "tailwindcss";

@font-face {
	font-family: 'SUIT Variable';
	font-weight: 100 900;
	src: url('/fonts/SUIT-Variable.woff2') format('woff2-variations');
}

:root {
  font-family: SUIT Variable, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0c0d0f;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --sub-font-color: #505b6e;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #0F0E12;
        --sub-font-color: #b8c2d1;
    }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
    place-items: center;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    place-items: start;
    max-width: 1320px;
    overflow: hidden;
    gap: 20px;
}

h1 {
    font-size: 72px;
    letter-spacing: -1.5px;
    margin: 0;
}

h3 {
    font-size: 24px;
    margin: 0;
    letter-spacing: -0.6px;
    font-weight: 600;
    color: var(--sub-font-color);
}

h4 {
    font-size: 20px;
    margin: 0;
    letter-spacing: -0.5px;
    font-weight: 600;
}

logo-text {
    font-size: 20px;
    margin: 0;
    letter-spacing: -0.5px;
    font-weight: 600;
    color: var(color);
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.4px;
    margin: 0;
    color: var(--sub-font-color);
}


.text-flex {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.tenki-list-item {
    width: 300px !important;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    margin: 6px 11px 6px 0px;
    background-color: none;
    border-radius: 20px;
}

.embla {
    width: 100%;
    overflow: hidden;
}

.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}
